body {
  margin: 0;
  padding: 0;
  min-width: 944px;
  font-family: "Roboto Medium", "Arial", sans-serif;
  color: #ffffff;
}

.circle {
  border-radius: 50%
}

.round {
  border-radius: 15px;
}

a:hover {
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.btn {
  display: inline-block;
  padding: 13px 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 22px;
  text-decoration: none;
  color: #ffffff;
  background-color: red;
  border-radius: 25px;
}

.btn:hover {
  color: #ffffff;
}

.page-wrapper {
  background-color: #849d8f;
}

#slide1,
#slide2,
#slide3 {
  display: none;
}

#slide1:checked ~ .page-wrapper {
  background: url("../img/bg_main_1.png") top center no-repeat #849d8f;
}

#slide2:checked ~ .page-wrapper {
  background: url("../img/bg_main_2.png") top center no-repeat #8996a6;
}

#slide3:checked ~ .page-wrapper {
  background: url("../img/bg_main_3.png") top center no-repeat #9d8b84;
}

.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  left: 0;
  bottom: 55px;
}

.slide-control {
  display: inline-block;
  margin-right: 10px;
  width: 17px;
  height: 17px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.slide {
  display: none;
  padding-top: 280px;
  padding-bottom: 40px;
  text-align: center;
  //border: 1px solid red;
}

.slide-title {
  margin: 0 20%;
  margin-bottom: 40px;
  font-size: 60px;
  font-weight: bold;
  line-height: 60px;
}

.slide-btn {
  padding: 22px 35px;
  font-size: 32px;
  //line-height: 60px;
  border-radius: 30px;
}

#slide1:checked ~ .page-wrapper .slide-1 {
  display: block;
}

#slide2:checked ~ .page-wrapper .slide-2 {
  display: block;
}

#slide3:checked ~ .page-wrapper .slide-3 {
  display: block;
}

#slide1:checked ~ .page-wrapper .slide-control[for="slide1"] {
  background-color: #ffffff;
}

#slide2:checked ~ .page-wrapper .slide-control[for="slide2"] {
  background-color: #ffffff;
}

#slide3:checked ~ .page-wrapper .slide-control[for="slide3"] {
  background-color: #ffffff;
}

.wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2.3%;

  //border: 1px solid white;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/* modul grid */
.row {
  margin-right: -13px;
  margin-left: -13px;
}

.row::before,
.row::after {
  content: "";
  display: table;
}

.row::after {
  clear: both;
}

.row.row-inline {
  font-size: 0;
}

.row.row-inline::before,
.row.row-inline::after {
  display: none;
}

.row [class^=col-] {
  float: left;
  padding: 0 13px;
  box-sizing: border-box;
  min-height: 1px;
}

.row.row-inline [class^=col-] {
  float: none;
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
}

.col-1{
  width: 25%;
}

.col-2{
  width: 50%;
}

.col-3{
  width: 75%;
}

.col-4{
  width: 100%;
}
/* end modul grid */

.logo {
  display: block;
  float: left;
}

.main-menu {
  float: left;
  //margin: 0 0;
  //padding: 20px 0;
  border: 1px solid #fff;
}

.main-menu-list {
  //float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-menu-item {
  float: left;
}

.main-menu-item:hover .sub-layout {
  display: block;
}

.sub-layout {
  position: absolute;
  display: none;
  padding-top: 10px;
  border: 1px solid #fff;
}

.sub-menu{
  padding: 10px;
  line-height: 30px;

  font-size: 14px;
  background-color: #eee;
}

.sub-menu-item{
  display: block;
}

.right-menu {
  float: right;
  border: 1px solid #fff;
}

.right-menu-list {
  //float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right-menu-btn {
  position: relative;
  float: left;
}

.right-menu-btn:hover .right-menu-layout {
  display: block;
}

.right-menu-layout {
  position: absolute;
  display: none;
  right: 0;
  padding-top: 10px;
}

.right-menu-container {
  padding: 10px;
  background-color: #eee
}

.order-item {
  width: 500px;
}

.order-item-name {
  display: inline-block;
  width: 250px;
}

.main-info {
  text-align: right;
  font-size: 14px;
}

.info-tel {
  font-size: 22px;
  font-weight: bold;
}

.filter-line {
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
  background-color: #ccc;
}

.filter-item {
  display: inline-block;
  vertical-align: top;
  border: 1px solid red;
}

.price-slider {
}

.price-bar {
  position: relative;
  width: 200px;
  margin-top: 15px;
  border: 2px solid #fff;
}

.price-bar::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: -2px;
  width: 8px;
  border: 2px solid blue;
}

.price-bar::after {
  content: "";
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 88px;
  border: 2px solid blue;
}

.bar-min {
  position: absolute;
  top: -10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.bar-max {
  position: absolute;
  top: -10px;
  right: 90px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
}

.action {
  position: relative;
  min-height: 140px;
  margin-bottom: 30px;
  padding: 20px;
  padding-bottom: 70px;
  font-size: 18px;
  color: #ffffff;
}

.action-name {
  margin: 0;
  padding-top: 0;
  font-size: 35px;
}

.action-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.action-one {
  background: url("../img/bg_raspberries.jpg") top center #8b0219;
}

.action-two {
  background: url("../img/bg_chocolate.jpg") top center #63453c;
}

.catalog-item {
  position: relative;
  //margin-bottom: 30px;
  padding: 10px;
  padding-bottom: 0px;
  text-align: center;
  border-radius: 15px 15px 0 0;
}

.catalog-item-info.item-hit::before {
  content: "";
  position: absolute;
  width: 61px;
  height: 61px;
  background: url("../img/hit.png") center center no-repeat transparent;
}

.catalog-item:hover {
  background-color: rgba(167,184,173, 0.7);
}

.catalog-item:hover .catalog-item-view {
  display: block;
}

.catalog-item .item-img {
  width: 100%;
  height: auto;
}

.catalog-item-view {
  position: absolute;
  left: 0;
  right: 0;
  //margin-top: 10px;
  padding: 20px 0;
  //padding-bottom: 20px;
  display: none;
  text-align: center;
  border-radius: 0 0 15px 15px;
  background-color: rgba(167,184,173, 0.7);
}

.catalog-item-info {
  position: relative;
  margin-bottom: 15px;
}

.catalog-item-price {
  position: absolute;
  bottom: 20px;
  font-size: 45px;
  color: #ffffff;
}

.catalog-item-name {
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 1px solid #b5c4bc;
}

.about {
  margin-bottom: 40px;
  padding: 25px 20px;
  background-color: #f1e7d0;
  background-position: left center;
  background-image: url("../img/bg_wafer.jpg");
}

.about-main{
  margin: 0;
  font-size: 24px;
  line-height: 30px;
  color: #000000;
}

.about-item {
  margin-top: 15px;
  margin-bottom: 0;
  padding-top: 15px;
  padding-left: 55px;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  background-position: left top;
  background-repeat: no-repeat;
}

.icon-ice {
  background-image: url("../img/ice.png");
}

.icon-leaf {
  background-image: url("../img/leaf.png");
}

.icon-cow {
  background-image: url("../img/cow.png");
}

.icon-keep {
  background-image: url("../img/keep.png");
}

.row-indent {
  margin-bottom: 40px;
}

.additional {
  font-size: 16px;
  color: #5a5a5a;
  background-color: #ffffff;
}

.additional.add-news {
  min-height: 158px;
  padding: 25px;
}

.additional.add-post {
  padding: 5px;
}

.additional-content {
  padding: 25px;
  background-color: #f8f7f4;
}

.additional-text {
  margin: 0;
  padding-bottom: 15px;
}

.additional-recipes {
  text-decoration: none;
  border-bottom: 2px solid #000000;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
}

.additional-form {
  margin-top: 20px;
}

.additional-email {
  width: 100%;
  height: 43px;
  padding: 1px 10px;
  border: 1px solid #d3d3d2;
  border-radius: 6px;
  outline-style: none;
  font-size: 16px;
}

.additional-submit {
  font-size: 17px;
  line-height: 21px;
}

.btn-wrap {
  float: right;
}

.field-wrap {
margin-right: 165px;
}


.add-news {
  background-image: url("../img/bg_news.jpg");
  background-position: left center;
}

.add-post {
  font-size: 16px;
  line-height: 22px;
  background-image: url("../img/bg_post.jpg");
}

.map {
  min-height: 430px;
  background-image: url("../img/map.jpg");
  background-position: center top;
  background-size: cover;
}

.map .wrapper {
  position: relative;
  min-height: inherit;
}

.map-info {
  position: absolute;
  top: 50%;
  right: 2.3%;
  width: 250px;
  padding: 30px 25px;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  transform: translateY(-50%);
}

.map-info-block {
  margin-bottom: 25px;
  text-align: left;
}

.map-info-item {
  margin: 0;
  line-height: 22px;
}

.map-info-bold {
  display: block;
  font-size: 18px;
  font-weight: bold;
}

.paginator {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  background-color: #ccc;
}

.paginator-item {
  float: left;
  width: 22px;
  height: 22px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}

.paginator-active {
  border: 2px solid #fff;
  border-radius: 50%;
  color: #000000;
  background-color: #ffffff;
}

.paginator-nav {
  font-size: 30px;
}

.main-footer {
  min-height: 100px;
  font-size: 13px;
  color: #ffffff;
}

.main-footer .wrapper {
  padding-top: 20px;
  border-top: 1px solid #a9bbb1;
}

.footer-social {
  float: left;
  width: 195px;
  padding-top: 10px;
}

.social-btn {
  float: left;
  width: 45px;
  height: 45px;
  font-size: 0;
  background-position: center center;
  background-repeat: no-repeat;
}

.social-btn-tw {
  background-image: url("../img/icon_tv.png");
}

.social-btn-ig {
  background-image: url("../img/icon_ig.png");
}

.social-btn-fb {
  background-image: url("../img/icon_fb.png");
}

.social-btn-vk {
  background-image: url("../img/icon_vk.png");
}

.footer-about {
  margin-left: 200px;    /* 195px + 5px (отступ) */
  margin-right: 210px;   /* 195px + 5px (отступ) + 10px (в макете не по центру) */
  padding-top: 10px;
  text-align: center;
  //outline: 1px solid;
}

.footer-about-col {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 0;
  //outline: 1px solid;
}

.footer-about-item {
  margin-right: 10px;
  line-height: 20px;
  text-decoration: none;
  font-size: 13px;
  border-bottom: 1px solid #b5c4bc;
  color: #ffffff;
}

.love {
  position: relative;
  font-weight: bold;
}

.love::before {
  content: "O";
  position: absolute;
  left: -20px;
  width: 15px;
  height: 20px;
  background-image: url("../img/heart.png");
  background-repeat: no-repeat;
  background-position: center;
}

.footer-copyright {
  float: right;
  width: 195px;
  font-size: 12px;
}

.creator-href {
  border-bottom: 1px solid #b5c4bc;
  text-decoration: none;
  color: #ffffff;
}

.modal {
  display: none;
}
