body {
  margin: 0;
  padding: 0;
}
.page-wrapper {
  background: url("../img/bg_main_1.png") top center no-repeat #cccccc;
}

.wrapper {
  min-width: 1000px;
  max-width: 1200px;
  margin: 0 auto;

  border: 1px solid white;
}

.circle {
  border-radius: 50%
}

.btn {
  padding: 10px 30px;

  text-decoration: none;
  color: #fff;
  background-color: red;
  border-radius: 20px;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.logo {
  display: block;
  float: left;
}

.main-menu {
  float: left;
  //margin: 0 0;
  //padding: 20px 0;
  border: 1px solid #fff;
}

.main-menu-list {
  //float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-menu-item {
  float: left;
}

.main-menu-item:hover .sub-layout {
  display: block;
}

.sub-layout {
  position: absolute;
  display: none;
  padding-top: 10px;
  border: 1px solid #fff;
}

.sub-menu{
  padding: 10px;
  line-height: 30px;

  font-size: 14px;
  background-color: #eee;
}

.sub-menu-item{
  display: block;
}

.right-menu {
  float: right;
  border: 1px solid #fff;
}

.right-menu-list {
  //float: left;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.right-menu-btn {
  position: relative;
  float: left;
}

.right-menu-btn:hover .right-menu-layout {
  display: block;
}

.right-menu-layout {
  position: absolute;
  display: none;
  right: 0;
  padding-top: 10px;
}

.right-menu-container {
  padding: 10px;
  background-color: #eee
}

.order-item {
  width: 500px;
}

.order-item-name {
  display: inline-block;
  width: 250px;
}

.action {
  width: 500px;
  background-color: #ccddcc;
}

.action-one {
  float: left;
}

.action-two {
  float: right;
}

.catalog-item {
  position: relative;
  width: 267px;
  margin-bottom: 10px;
  border: 1px solid #fff;
}

.catalog-item-name:hover + .catalog-item-view {
  display: inline;
}

.catalog-item-name::after {
  content: "";
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);

}

.catalog-item-name:hover .catalog-item-name::after {
  display: block;
}

.catalog-item-view {
  display: none;
}

.additional {
  width: 500px;
  background-color: #ccddcc;
}

.add-news {
  float: left;
}

.add-post {
  float: right;
}

.map {
  max-height: 429px;
  background-image: url("../img/map.jpg");
  background-position: center top;
  background-size: cover;
}
